{% extends 'simulator/base.html' %}

{% block title %}Список Гравців{% endblock %}

{% block content %}
<h2><i class="fas fa-user"></i> Гравці</h2>
<a href="{% url 'simulator:player_create' %}" class="btn btn-success mb-3"><i class="fas fa-plus"></i> Додати нового гравця</a>
{% if players %}
    <table>
        <thead>
            <tr>
                <th>Ім'я</th>
                <th>Вік</th>
                <th>Позиція</th>
                <th>Команда</th>
                <th><i class="fas fa-futbol"></i> Голи</th>
                <th><i class="fas fa-hands-helping"></i> Асисти</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
            <tr>
                <td><a href="{% url 'simulator:player_detail' player.id %}">{{ player.name }}</a></td>
                <td>{{ player.age }}</td>
                <td>{{ player.position|default:"N/A" }}</td>
                <td>{% if player.team %}<a href="{% url 'simulator:team_detail' player.team.id %}">{{ player.team.name }}</a>{% else %}Вільний агент{% endif %}</td>
                <td>{{ player.statistics.goals|default:0 }}</td>
                <td>{{ player.statistics.assists|default:0 }}</td>
                <td>
                    <a href="{% url 'simulator:player_detail' player.id %}" class="btn btn-small btn-info"><i class="fas fa-info-circle"></i> Деталі</a>
                    <a href="{% url 'simulator:player_update' player.id %}" class="btn btn-small btn-warning"><i class="fas fa-edit"></i> Редагувати</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Ще немає жодного гравця.</p>
{% endif %}
{% endblock %}