{% extends 'simulator/base.html' %}

{% block title %}{% if form.instance.pk %}Редагувати Гравця{% else %}Створити Гравця{% endif %}{% endblock %}

{% block content %}
<h2>{% if form.instance.pk %}<i class="fas fa-user-edit"></i> Редагувати: {{ form.instance.name }}{% else %}<i class="fas fa-user-plus"></i> Створення нового гравця{% endif %}</h2>

<form method="post">
    {% csrf_token %}
     {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}

    {% for field in form %}
        {% if field.name != 'goals' and field.name != 'assists' and field.name != 'games_played' %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                <small>{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}

    {% if form.goals or form.assists or form.games_played %}
        <hr>
        <h4><i class="fas fa-chart-bar"></i> Статистика (опціонально)</h4>
         <div class="form-group">
            <label for="{{ form.games_played.id_for_label }}">{{ form.games_played.label }}</label>
            {{ form.games_played }}
             {% for error in form.games_played.errors %}<p style="color: red;">{{ error }}</p>{% endfor %}
        </div>
         <div class="form-group">
            <label for="{{ form.goals.id_for_label }}">{{ form.goals.label }}</label>
            {{ form.goals }}
             {% for error in form.goals.errors %}<p style="color: red;">{{ error }}</p>{% endfor %}
        </div>
         <div class="form-group">
            <label for="{{ form.assists.id_for_label }}">{{ form.assists.label }}</label>
            {{ form.assists }}
             {% for error in form.assists.errors %}<p style="color: red;">{{ error }}</p>{% endfor %}
        </div>
    {% endif %}


    <button type="submit" class="btn btn-primary">{% if form.instance.pk %}<i class="fas fa-save"></i> Зберегти зміни{% else %}<i class="fas fa-plus"></i> Створити гравця{% endif %}</button>
    <a href="{% if form.instance.pk %}{% url 'simulator:player_detail' form.instance.pk %}{% else %}{% url 'simulator:player_list' %}{% endif %}" class="btn btn-secondary ml-2"><i class="fas fa-times"></i> Скасувати</a>
</form>
{% endblock %}