{% extends 'simulator/base.html' %}

{% block title %}Рекомендації для {{ team.name }}{% endblock %}

{% block content %}
<h2><i class="fas fa-lightbulb"></i> Рекомендації для команди: {{ team.name }}</h2>

{% if recommendations %}
    <ul>
        {% for rec in recommendations %}
            {% if rec %}
                <li>{{ rec|slice:"2:" }}</li> 
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <p>Не вдалося згенерувати рекомендації або їх немає.</p>
{% endif %}
<br>
<a href="{% url 'simulator:team_detail' team.id %}" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Назад до команди</a>
<a href="{% url 'simulator:team_list' %}" class="btn btn-secondary ml-2"><i class="fas fa-list"></i> До списку команд</a>

{% endblock %}