{% extends 'simulator/base.html' %}

{% block title %}Список Команд{% endblock %}

{% block content %}
<h2><i class="fas fa-users"></i> Команди</h2>
<a href="{% url 'simulator:team_create' %}" class="btn btn-success mb-3"><i class="fas fa-plus"></i> Додати нову команду</a>
{% if teams %}
    <table>
        <thead>
            <tr>
                <th>Назва</th>
                <th>Тренер</th>
                <th>Кількість гравців</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
            <tr>
                <td><a href="{% url 'simulator:team_detail' team.id %}">{{ team.name }}</a></td>
                <td>{{ team.coach|default:"N/A" }}</td>
                <td>{{ team.players.count }}</td>
                <td>
                    <a href="{% url 'simulator:team_detail' team.id %}" class="btn btn-small btn-info"><i class="fas fa-info-circle"></i> Деталі</a>
                    <a href="{% url 'simulator:team_update' team.id %}" class="btn btn-small btn-warning"><i class="fas fa-edit"></i> Редагувати</a>
                    <a href="{% url 'simulator:team_recommendations' team.id %}" class="btn btn-small btn-info"><i class="fas fa-lightbulb"></i> Рекомендації</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Ще немає жодної команди.</p>
{% endif %}
{% endblock %}