{% extends 'simulator/base.html' %}

{% block title %}Список Турнірів{% endblock %}

{% block content %}
<h2><i class="fas fa-trophy"></i> Турніри</h2>

<a href="{% url 'simulator:tournament_create' %}" class="btn btn-success mb-3"><i class="fas fa-plus"></i> Додати новий турнір</a>
{% if tournaments %}
    <table>
        <thead>
            <tr>
                <th>Назва</th>
                <th>Подія</th>
                <th>К-ть команд</th>
                <th>К-ть матчів</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            {% for tournament in tournaments %}
            <tr>
                <td><a href="{% url 'simulator:tournament_detail' tournament.id %}">{{ tournament.name }}</a></td>
                <td>{% if tournament.event %}<a href="{% url 'simulator:event_detail' tournament.event.id %}">{{ tournament.event.name }}</a>{% else %}N/A{% endif %}</td>
                <td>{{ tournament.teams.count }}</td>
                <td>{{ tournament.matches.count }}</td>
                <td>
                    <a href="{% url 'simulator:tournament_detail' tournament.id %}" class="btn btn-small btn-info"><i class="fas fa-info-circle"></i> Деталі</a>
                    <a href="{% url 'simulator:tournament_standings' tournament.id %}" class="btn btn-small btn-warning"><i class="fas fa-table"></i> Таблиця</a>
                    <a href="{% url 'simulator:tournament_update' tournament.id %}" class="btn btn-small btn-warning"><i class="fas fa-edit"></i> Редагувати</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Ще немає жодного турніру.</p>
{% endif %}
{% endblock %}